html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: unset;
  border: unset;
  cursor: pointer;
  padding: 0px;
}

/* Tooltip 관련 */

/* Tooltip 오픈 */
.open-mcm-tooltip {
  position: absolute;
  left: 0;
  top: -20px;
}

/* Alert 관련 */
.mcm-alert {
  display: inline-flex;
}

#mcm-alert-area {
  position: fixed;
  /* width: 100%; */
  top: 10px;
  pointer-events: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  flex-direction: column;
  gap: 6px 0px;
  align-items: center;
}
